img {
    height: 200px;
    width: 100%;
    border: 2px solid;
    border-color: rgb(48, 100, 89);
    margin :0 auto;
    display: block;
}

header img {
    width: 95%;
    height: 300px;
}

h1, h2 {
    text-align: center;
    color: rgb(48, 100, 89);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

table {
    width: 100%;
}

td {
    width: 50%;
    box-sizing: border-box; 
    padding: 20px;
    vertical-align: top; 
}

nav ul {
    padding: 0;
    text-align: center;
    background-color: #f2f2f2;
    margin-bottom: 20px;
}

nav ul li {
    display: inline-block; 
    margin-right: 20px; 
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    color: rgb(48, 100, 89);
}

footer {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

footer p {
    text-align: center;
}